<div class="field-row-stacked">
	<label for="<?php echo $field['identifier']; ?>"><?php echo $I18n->t($field['displayname']); ?></label>
	<input type="file" id="<?php echo $field['identifier']; ?>" multiple="true"
		name="fdata[<?php echo $field['identifier']; ?>][]"
	/>

	<?php
	if(isset($TemplateData['editData']) && !empty($TemplateData['editData'][$field['identifier']])) {
		$_i = 1;
		foreach($TemplateData['editData'][$field['identifier']] as $e) {
	?>
		<a target="_blank" href="<?php echo $TemplateData['storagePath'].'/'.$e; ?>"><?php echo $e; ?></a>
		<input type="checkbox" value="<?php echo $e; ?>"
				name="fdata[<?php echo $field['identifier']; ?>_delete][]"
				title="Delete"
				id="<?php echo $field['identifier'].$_i; ?>_delete"
		/>
		<label for="<?php echo $field['identifier'].$_i; ?>_delete"><?php echo $I18n->t('global.delete'); ?></label>
		<br>
	<?php
		$_i++;
		}
	}
	?>
</div>
