<div class="field-row-stacked">
	<label for="<?php echo $field['identifier']; ?>"><?php echo $field['displayname']; ?></label>
	<textarea autocomplete="off"
		id="<?php echo $field['identifier']; ?>"
        rows="10"
		name="fdata[<?php echo $field['identifier']; ?>]"><?php echo $TemplateData['editData'][$field['identifier']] ?? ''; ?></textarea>
	<?php if(isset($field['bulkedit'])) { ?>
	<select name="fdata[additionalEditOption][<?php echo $field['identifier']; ?>]">
		<option value="">Select bulk edit option</option>
		<option value="add">Add</option>
		<option value="replace">Replace</option>
		<option value="empty">Clear</option>
	</select>
	<?php } ?>
</div>
