<?php if(!empty($TemplateData['search'])) { ?>
<div uk-alert id="searchNotice">
	<button class="uk-alert-close" type="button" uk-close></button>
	<p><?php echo $I18n->t('global.search.resultfor', $TemplateData['search'] ?? ''); ?></p>
</div>
<script type="text/javascript">
	UIkit.util.on('#searchNotice', 'hide', function () {
		window.location.href="index.php";
	});
</script>
<?php } ?>

<?php foreach($TemplateData['latest'] as $k=>$v) { ?>

	<h3 class="uk-heading-divider">
		<a href="index.php?p=collections&collection=<?php echo $k; echo $TemplateData['navSearched'] ?? ''; ?>"><?php echo $v['name']; ?></a>
		<span class="uk-text-meta"><?php echo $v['description']; ?></span>
	</h3>


	<div class="uk-grid-small uk-grid-match" uk-grid>
	<?php
	if(isset($v['entries']['results'])) {
		foreach($v['entries']['results'] as $entryK=>$entry) { ?>
			<div class="uk-width-1-2@xl">
				<div class="uk-card uk-card-default uk-grid-collapse uk-margin uk-grid" >
					<div class="uk-card-media-left uk-cover-container uk-width-1-2@s uk-width-1-3@m uk-width-1-6@l uk-visible@s">
						<?php if(isset($entry['fields']['coverimage'])) { ?>
						<a href="index.php?p=entry&collection=<?php echo $k ?>&id=<?php echo $entryK; ?>">
						<img src="<?php echo PATH_WEB_STORAGE.'/'.$k.'/'.$entryK.'/'.$entry['fields']['coverimage']['value']; ?>"
							 alt="<?php echo $I18n->t($entry['fields']['coverimage']['displayname']); ?>" uk-cover>
						<canvas width="400" height="200"></canvas>
						</a>
						<?php } ?>
					</div>
					<div class="uk-width-1-2@s uk-width-2-3@m uk-width-5-6@l">
						<div class="uk-card-body">
							<?php if(isset($entry['fields']['title'])) { ?>
							<h3 class="uk-card-title"><?php echo $entry['fields']['title']['value']; ?></h3>
							<?php } ?>

							<?php if(isset($entry['fields']['description']['value'])) { ?>
							<p><?php echo $entry['fields']['description']['value']; ?></p>
							<?php } ?>
						</div>
						<div class="uk-card-footer">
							<a href="index.php?p=entry&collection=<?php echo $k ?>&id=<?php echo $entryK; ?>" class="uk-button uk-button-text"><?php echo $I18n->t('global.view'); ?></a>
						</div>
					</div>
				</div>
			</div>
<?php
		}
	}
?>
	</div>
<?php
} ?>
