<h3 class="uk-h3"><?php echo Summoner::ifset($TemplateData['loadedCollection'], 'name'); ?></h3>

<?php if(!empty($TemplateData['search'])) { ?>
<div uk-alert id="searchNotice">
	<button class="uk-alert-close" type="button" uk-close></button>
	<p>Display result for: <b><?php echo $TemplateData['search']; ?></b></p>
</div>
<script type="text/javascript">
	UIkit.util.on('#searchNotice', 'hide', function () {
		window.location.href="index.php?p=collections&collection=<?php echo $TemplateData['loadedCollection']['id']; ?>";
	});
</script>
<?php } ?>

<?php if(!empty($TemplateData['entries'])) { ?>
<div class="uk-grid-small uk-grid-match" uk-grid>
	<?php foreach($TemplateData['entries']['results'] as $entryK=>$entry) { ?>
	<div class="uk-width-1-4@s uk-width-1-6@l">
		<div class="uk-card uk-card-default uk-card-small">
			<div class="uk-card-media-top">
				<?php if(Summoner::ifset($entry['fields'], 'coverimage')) { ?>
				<a href="<?php echo $TemplateData['entryLinkPrefix']; ?>&id=<?php echo $entryK; ?>">
				<img src="<?php echo $TemplateData['storagePath'].'/'.$entryK.'/'.$entry['fields']['coverimage']['value']; ?>"
					 alt="<?php echo $entry['fields']['coverimage']['displayname']; ?>">
				</a>
				<?php } ?>
			</div>
			<div class="uk-card-body uk-visible@l">
				<?php if(Summoner::ifset($entry['fields'], 'title')) { ?>
				<h3 class="uk-card-title"><?php echo $entry['fields']['title']['value']; ?></h3>
				<?php } ?>

				<?php if(Summoner::ifset($entry['fields'], 'description')) { ?>
				<p><?php echo $entry['fields']['description']['value']; ?></p>
				<?php } ?>
			</div>
			<div class="uk-card-footer">
				<a href="<?php echo $TemplateData['entryLinkPrefix']; ?>&id=<?php echo $entryK; ?>" class="uk-button uk-button-text">View</a>
			</div>
		</div>
	</div>
	<?php } ?>
</div>
<?php } elseif(!empty($TemplateData['collections'])) { ?>
<h3 class="uk-h3">Collection overview</h3>
<div class="uk-grid-small uk-grid-row-small uk-grid-row-small" uk-grid>
	<div class="uk-width-2-3@m uk-width-1-2@xl">
		<dl class="uk-description-list uk-description-list-divider">
			<?php foreach($TemplateData['collections'] as $k=>$v) { ?>
			<dt><a href="index.php?p=collections&collection=<?php echo $k; ?>"><?php echo $v['name']; ?></a></dt>
			<dd><?php echo $v['description']; ?></dd>
			<?php } ?>
		</dl>
	</div>
</div>
<?php } ?>
