<?php if(!empty($TemplateData['pagination']) && $TemplateData['pagination']['pages'] > 1) { ?>
<div class="uk-grid-small uk-grid-match uk-grid">
	<div class="uk-width-1-3">
		<ul class="uk-pagination" >
			<?php require Summoner::themefile('collections/collections_pagination.html', UI_THEME); ?>
		</ul>
	</div>
	<div class="uk-width-2-3">
		<?php if(!isset($TemplateData['pagination']['hideSort'])) { ?>
		<div class="uk-inline">
			<button class="uk-button uk-button-default uk-button-small" type="button"><?php echo $I18n->t('global.sort'); ?></button>
			<div uk-dropdown>
				<ul class="uk-nav uk-dropdown-nav">
					<?php if(!empty($TemplateData['defaultSortField'])) { ?>
					<li><a href="index.php?<?php echo Summoner::createFromParameterLinkQuery($TemplateData['pagination']['currentGetParameters'],array('s'=>$TemplateData['defaultSortField'],'sd'=>$TemplateData['defaultSortOrder'])); ?>"><?php echo $I18n->t('pagination.select.sort.default'); ?></a></li>
					<?php } else { ?>
					<li><a href="index.php?<?php echo Summoner::createFromParameterLinkQuery($TemplateData['pagination']['currentGetParameters'],array('s'=>'','sd'=>'ASC')); ?>"><?php echo $I18n->t('pagination.select.sort.latest'); ?></a></li>
					<?php } ?>

					<?php
					if(!empty($TemplateData['simpleSearchFields'])) {
						foreach($TemplateData['simpleSearchFields'] as $k=>$v) {
					?>
					<li class="<?php if(isset($v['selected'])) echo 'uk-active' ?>"><a href="index.php?<?php echo Summoner::createFromParameterLinkQuery($TemplateData['pagination']['currentGetParameters'],array('s'=>$k,'sd'=>'ASC')); ?>"><?php echo $I18n->t($v['displayname']); ?></a></li>
					<?php
						}
					}
					?>

					<li class="uk-nav-divider"></li>
					<li><a href="index.php?<?php echo Summoner::createFromParameterLinkQuery($TemplateData['pagination']['currentGetParameters'],array('sd'=>'DESC')); ?>"><span class="uk-icon uk-margin-small-right" uk-icon="icon: chevron-down"></span></a></li>
					<li><a href="index.php?<?php echo Summoner::createFromParameterLinkQuery($TemplateData['pagination']['currentGetParameters'],array('sd'=>'ASC')); ?>"><span class="uk-icon uk-margin-small-right" uk-icon="icon: chevron-up"></span></a></li>
				</ul>
			</div>
		</div>
		<?php } ?>
	</div>
</div>
<?php } ?>

<?php if(!empty($TemplateData['search'])) { ?>
<div uk-alert id="searchNotice">
	<button class="uk-alert-close" type="button" uk-close></button>
	<p><?php echo $I18n->t('global.search.resultfor', $TemplateData['search'] ?? ''); ?></p>
</div>
<script type="text/javascript">
	UIkit.util.on('#searchNotice', 'hide', function () {
		window.location.href="index.php?p=collections&collection=<?php echo $TemplateData['loadedCollection']['id']; ?>";
	});
</script>
<?php } ?>

<?php if(!empty($TemplateData['entries'])) { ?>
<h3 class="uk-h3"><?php echo $TemplateData['loadedCollection']['name'] ?? ''; ?></h3>
<div class="uk-grid-small uk-grid-match" uk-grid>
	<?php foreach($TemplateData['entries']['results'] as $entryK=>$entry) { ?>
	<div class="uk-width-1-4@s uk-width-1-6@l">
		<div class="uk-card uk-card-default uk-card-small">
			<div class="uk-card-media-top">
				<?php if(isset($entry['fields']['coverimage'])) { ?>
				<a href="<?php echo $TemplateData['entryLinkPrefix']; ?>&id=<?php echo $entryK; ?>">
				<img src="<?php echo $TemplateData['storagePath'].'/'.$entryK.'/'.$entry['fields']['coverimage']['value']; ?>"
					 alt="<?php echo $entry['fields']['coverimage']['displayname']; ?>">
				</a>
				<?php } ?>
			</div>
			<div class="uk-card-body uk-visible@l">
				<?php if(isset($entry['fields']['title'])) { ?>
				<h3 class="uk-card-title"><?php echo $entry['fields']['title']['value']; ?></h3>
				<?php } ?>

				<?php if(isset($entry['fields']['description']['value'])) { ?>
				<p><?php echo $entry['fields']['description']['value']; ?></p>
				<?php } ?>
			</div>
			<div class="uk-card-footer">
				<a href="<?php echo $TemplateData['entryLinkPrefix']; ?>&id=<?php echo $entryK; ?>" class="uk-button uk-button-text"><?php echo $I18n->t('global.View'); ?></a>
			</div>
		</div>
	</div>
	<?php } ?>
</div>
<?php } elseif(!empty($TemplateData['collections'])) { ?>
<h3 class="uk-h3"><?php echo $I18n->t('global.collection.select.notice'); ?></h3>
<div class="uk-grid-small uk-grid-row-small uk-grid-row-small" uk-grid>
	<div class="uk-width-2-3@m uk-width-1-2@xl">
		<dl class="uk-description-list uk-description-list-divider">
			<?php foreach($TemplateData['collections'] as $k=>$v) { ?>
			<dt><a href="index.php?p=collections&collection=<?php echo $k; ?>"><?php echo $v['name']; ?></a></dt>
			<dd><?php echo $v['description']; ?></dd>
			<?php } ?>
		</dl>
	</div>
</div>
<?php } ?>

<?php if(!empty($TemplateData['pagination']) && $TemplateData['pagination']['pages'] > 1) { ?>
<div class="uk-grid-small uk-grid-match uk-grid">
	<div class="uk-width-3-4">
		<ul class="uk-pagination" >
			<?php require Summoner::themefile('collections/collections_pagination.html', UI_THEME); ?>
		</ul>
	</div>
</div>
<?php } ?>
