<h3><?php echo $I18n->t('managecol.managecol'); ?></h3>
<h4><?php echo $I18n->t('managecol.addmodify'); ?></h4>

<h4><?php echo $I18n->t('managecol.availcol'); ?></h4>
<div class="sunken-panel">
	<table width="100%">
		<thead>
		<tr>
			<th width="200px"><?php echo $I18n->t('global.name'); ?></th>
			<th><?php echo $I18n->t('global.created'); ?></th>
			<th><?php echo $I18n->t('global.description'); ?></th>
			<th><?php echo $I18n->t('global.owner'); ?></th>
			<th><?php echo $I18n->t('global.group'); ?></th>
			<th><?php echo $I18n->t('global.rights'); ?></th>
			<th><?php echo $I18n->t('global.collection'); ?></th>
			<th><?php echo $I18n->t('global.fields'); ?></th>
		</tr>
		</thead>
		<tbody>
		<?php foreach($TemplateData['existingCollections'] as $k=>$v) { ?>
		<tr>
			<td><?php echo $v['name']; ?></td>
			<td><?php echo $v['created']; ?></td>
			<td><?php echo $v['description']; ?></td>
			<td><?php echo $v['username']; ?></td>
			<td><?php echo $v['groupname']; ?></td>
			<td><?php echo $v['rights']; ?></td>
			<td><a href="index.php?p=managecolletions&m=edit&id=<?php echo $k; ?>">Edit</a></td>
			<td><a href="index.php?p=managecollectionfields&id=<?php echo $k; ?>">Edit</a></td>
		</tr>
		<?php } ?>
		</tbody>
	</table>
</div>
<p>&nbsp;</p>

<blockquote><?php echo $I18n->t('managecol.defaultfieldvaluenote'); ?></blockquote>

<form method="post" class="maxSizeForm">
	<div class="field-row-stacked">
		<label for="name"><?php echo $I18n->t('managecol.input.name'); ?> *</label>
		<input id="name" type="text" autocomplete="off" name="fdata[name]"
            placeholder="<?php echo $I18n->t('managecol.input.name.placeholder'); ?>" size="30"
			value="<?php echo $TemplateData['editData']['name'] ?? ''; ?>">
    </div>
	<div class="field-row-stacked">
		<label for="description"><?php echo $I18n->t('managecol.input.description'); ?></label>
		<input id="description" type="text" autocomplete="off" size="30" name="fdata[description]"
		       value="<?php echo $TemplateData['editData']['description'] ?? ''; ?>">
   </div>
	<div class="field-row-stacked">
		<label for="defaultSearchField"><?php echo $I18n->t('managecol.input.defaultsearchfield'); ?></label>
		<select id="defaultSearchField" name="fdata[defaultSearchField]">
			<option value=""><?php echo $I18n->t('global.pleaseselect'); ?></option>
			<?php foreach($TemplateData['simpleSearchFields'] as $k=>$v) { ?>
			<option value="<?php echo $v['identifier']; ?>"
				<?php echo ($TemplateData['editData']['defaultSearchField'] ?? '') == $v['identifier'] ? 'selected' : ''; ?>
			><?php echo $I18n->t($v['displayname']); ?> (<?php echo $v['type']; ?>)</option>
			<?php } ?>
		</select>
	</div>
	<div class="field-row-stacked">
		<label><?php echo $I18n->t('managecol.globalsearchhowto'); ?></label>
	</div>
	<div class="field-row-stacked">
		<input id="updateSearchData" type="checkbox" name="fdata[updateSearchData]" value="1">
		<label for="updateSearchData"><?php echo $I18n->t('managecol.input.combinedsearch'); ?></label>
		<?php echo $I18n->t('managecol.input.combinedsearch.howto'); ?>
	</div>
	<div class="field-row-stacked">
		<label for="defaultSortField"><?php echo $I18n->t('managecol.input.defaultsort'); ?></label>
		<select id="defaultSortField" name="fdata[defaultSortField]">
			<option value=""><?php echo $I18n->t('global.pelaseselect'); ?></option>
			<?php foreach($TemplateData['simpleSearchFields'] as $k=>$v) { ?>
			<option value="<?php echo $v['identifier']; ?>"
				<?php echo ($TemplateData['editData']['defaultSortField'] ?? '') == $v['identifier'] ? 'selected' : ''; ?>
			><?php echo $I18n->t($v['displayname']); ?> (<?php echo $v['type']; ?>)</option>
			<?php } ?>
		</select>
	</div>
	<div class="field-row-stacked">
		<label for="defaultSortOrder"><?php echo $I18n->t('managecol.input.defaultsortorder'); ?></label>
		<select id="defaultSortOrder" name="fdata[defaultSortOrder]">
			<option value="ASC" <?php echo ($TemplateData['editData']['defaultSortOrder'] ?? '') == 'ASC' ? 'selected' : '' ?>><?php echo $I18n->t('global.ascending'); ?></option>
			<option value="DESC" <?php echo ($TemplateData['editData']['defaultSortOrder'] ?? '') == 'DESC' ? 'selected' : '' ?>><?php echo $I18n->t('global.descending'); ?></option>
		</select>
	</div>
	<div class="field-row-stacked">
		<label for="advancedSearchTableFields"><?php echo $I18n->t('managecol.input.advancedtablesearchfields'); ?></label>
		<select id="advancedSearchTableFields" name="fdata[advancedSearchTableFields][]" multiple="multiple" size="5">
			<?php foreach($TemplateData['existingFields'] as $k=>$v) { ?>
			<option value="<?php echo $v['id']; ?>"
			<?php if(isset($TemplateData['editData']['advancedSearchTableFields'][$v['id']])) echo 'selected'; ?>
			><?php echo $I18n->t($v['displayname']); ?> (<?php echo $v['type']; ?>)</option>
			<?php } ?>
		</select>
	</div>
	<div class="field-row-stacked">
		<label><?php echo $I18n->t('managecol.input.advancedtablesearchfields.howto'); ?></label>
	</div>
	<div class="field-row-stacked">
			<label for="tool">Tools</label>
			<select id="tool" name="fdata[tool][]" multiple="multiple" size="5">
				<option value=""><?php echo $I18n->t('global.none'); ?></option>
				<?php foreach($TemplateData['toolSelection'] as $k=>$v) { ?>
				<option value="<?php echo $k; ?>"
				<?php if(isset($TemplateData['editData']['tool'][$k])) echo 'selected'; ?>
				><?php echo $v['name']; ?> (<?php echo $v['description']; ?>)</option>
				<?php } ?>
			</select>
	</div>
	<div class="field-row-stacked">
		<label for="owner"><?php echo $I18n->t('global.owner'); ?> *</label>
		<select id="owner" name="fdata[owner]">
			<option value="">Please select</option>
			<?php foreach($TemplateData['ownerSelection'] as $k=>$v) { ?>
			<option value="<?php echo $k; ?>"
			<?php echo ($TemplateData['editData']['owner'] ?? '') == $k ? 'selected' : ''; ?>
			><?php echo $v['login']; ?> (<?php echo $v['name']; ?>)</option>
			<?php } ?>
		</select>
	</div>
	<div class="field-row-stacked">
		<label for="group"><?php echo $I18n->t('global.group'); ?> *</label>
		<select id="group" name="fdata[group]">
			<option value="">Please select</option>
			<?php foreach($TemplateData['groupSelection'] as $k=>$v) { ?>
			<option value="<?php echo $k; ?>"
			<?php echo ($TemplateData['editData']['group'] ?? '') == $k ? 'selected' : ''; ?>
			><?php echo $v['name']; ?> (<?php echo $v['description']; ?>)</option>
			<?php } ?>
		</select>
	</div>
	<div class="field-row-stacked">
		<label><?php echo $I18n->t('global.rights'); ?> *</label></td>

		<table>
			<thead>
				<tr>
					<th><?php echo $I18n->t('global.user'); ?></th>
					<th><?php echo $I18n->t('global.group'); ?></th>
					<th><?php echo $I18n->t('global.other'); ?></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<input id="user_read" type="checkbox" name="fdata[rights][user][read]" value="1"
						<?php echo ($TemplateData['editData']['rights']['user']['read'] ?? '') == 'r' ? "checked" : ""; ?>>
						<label for="user_read">r &nbsp; &nbsp; &nbsp;</label>

						<input id="user_write" type="checkbox" name="fdata[rights][user][write]" value="1"
						<?php echo ($TemplateData['editData']['rights']['user']['write'] ?? '') == 'w' ? "checked" : ""; ?>>
						<label for="user_write">w &nbsp; &nbsp; &nbsp;</label>

						<input id="user_delete" type="checkbox" name="fdata[rights][user][delete]" value="1"
						<?php echo ($TemplateData['editData']['rights']['user']['delete'] ?? '') == 'x' ? "checked" : ""; ?>>
						<label for="user_delete">x &nbsp; &nbsp; &nbsp;</label>
					</td>
					<td>
						<input id="group_read" type="checkbox" name="fdata[rights][group][read]" value="1"
						<?php echo ($TemplateData['editData']['rights']['group']['read'] ?? '') == 'r' ? "checked" : ""; ?>>
						<label for="group_read">r &nbsp; &nbsp; &nbsp;</label>

						<input id="group_write" type="checkbox" name="fdata[rights][group][write]" value="1"
						<?php echo ($TemplateData['editData']['rights']['group']['write'] ?? '') == 'w' ? "checked" : ""; ?>>
						<label for="group_write">w &nbsp; &nbsp; &nbsp;</label>

						<input id="group_delete" type="checkbox" name="fdata[rights][group][delete]" value="1"
						<?php echo ($TemplateData['editData']['rights']['group']['delete'] ?? '') == 'x' ? "checked" : ""; ?>>
						<label for="group_delete">x &nbsp; &nbsp; &nbsp;</label>
					</td>
					<td>
						<input id="other_read" type="checkbox" name="fdata[rights][other][read]" value="1"
						<?php echo ($TemplateData['editData']['rights']['other']['read'] ?? '') == 'r' ? "checked" : ""; ?>>
						<label for="other_read">r &nbsp; &nbsp; &nbsp;</label>

						<input id="other_write" type="checkbox" name="fdata[rights][other][write]" value="1"
						<?php echo ($TemplateData['editData']['rights']['other']['write'] ?? '') == 'w' ? "checked" : ""; ?>>
						<label for="other_write">w &nbsp; &nbsp; &nbsp;</label>

						<input id="other_delete" type="checkbox" name="fdata[rights][other][delete]" value="1"
						<?php echo ($TemplateData['editData']['rights']['other']['delete'] ?? '') == 'x' ? "checked" : ""; ?>>
						<label for="other_delete">x &nbsp; &nbsp; &nbsp;</label>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<?php if(isset($TemplateData['editData']['name'])) { ?>
	<div class="field-row-stacked">
		<input id="doRightsForEntries" type="checkbox" name="fdata[doRightsForEntries]" value="1">
		<label for="doRightsForEntries"><?php echo $I18n->t('managecol.input.overwriterights'); ?></label>
		<?php echo $I18n->t('managecol.input.overwriterights.howto'); ?>
	</div>
	<div class="field-row-stacked">
		<input id="doDelete" type="checkbox" name="fdata[doDelete]" value="1">
		<label for="doDelete"><?php echo $I18n->t('managecol.input.delete'); ?></label>
		<?php echo $I18n->t('managecol.input.delete.howto'); ?>
	</div>
	<?php } ?>


	<div class="field-row-stacked">
		<input type="submit" name="submitForm" value="<?php echo $I18n->t('global.save'); ?>" />
	</div>
</form>
