<p><b><?php echo $I18n->t('tool.limitations'); ?></b></p>
<p><?php echo $I18n->t('tool.limitations.override'); ?></p>
<p>
	<?php echo $I18n->t('tool.imdb.search.hint'); ?>

</p>
<p>
	<?php echo $I18n->t('tool.imdb.posters'); ?> <a href="http://www.impawards.com/" target=_blank>impawards</a
</p>

<form class="uk-form-horizontal uk-margin-small" method="post" enctype="multipart/form-data">
	<div class="uk-margin">
		<label class="uk-form-label" for="search"><?php echo $I18n->t('tool.imdb.search'); ?></label>
		<div class="uk-form-controls">
			<input class="uk-input" id="search" type="text" autocomplete="off"
					placeholder="tt123456790"
				   name="fdata[search]"
				   value="<?php echo $TemplateData['editEntry']['title'] ?? ''; ?>"
			>
		</div>
		<div class="uk-margin">
			<button class="uk-button uk-button-primary" type="submit" name="submitFormSearch">
				<?php echo $I18n->t('tool.imdb.search'); ?>
			</button>
		</div>
	</div>
</form>

<?php if($TemplateData['showMatchingForm']) { ?>
<form class="uk-form-horizontal uk-margin-small uk-grid-small" method="post" enctype="multipart/form-data" uk-grid>
	<input type="hidden" name="fdata[imdbId]" value="<?php echo $TemplateData['movieImdbId']; ?>">
	<?php
	if(!empty($TemplateData['movieData'])) {
		foreach($TemplateData['movieData'] as $k=>$v) {
	?>

	<div class="uk-width-1-2@s uk-overflow-hidden">
		<p>
			<b><?php echo $v['name']; ?></b><br />
			<?php echo $v['value']; ?>
		</p>
	</div>
	<div class="uk-width-1-2@s">
		<select class="uk-select" name="fdata[into][<?php echo $k; ?>]">
			<option value=""><?php echo $I18n->t('tool.imdb.select.none'); ?></option>
			<?php echo toolMethod_GetTargetSelection($TemplateData['saveToSelection'],$k); ?>
		</select>
	</div>

	<?php
		}
	}
	?>

	<div class="uk-margin">
		<button class="uk-button uk-button-primary" type="submit" name="submitFormSave">
			<?php echo $I18n->t('tool.imdb.save'); ?>
		</button>
	</div>

</form>
<?php } ?>
