<h3 class="uk-h3"><?php echo $I18n->t('tool.headline.using', array($TemplateData['tool']['name'], $TemplateData['collection']['name'])); ?></h3>
<?php if(!empty($TemplateData['editEntry'])) { ?>
<p><span uk-icon="arrow-left"></span>
	<a href="index.php?p=manageentry&collection=<?php echo $TemplateData['collection']['id']; ?>&id=<?php echo $TemplateData['editEntry']['id']; ?>"><?php echo $TemplateData['editEntry']['title'] ?? ''; ?></a>
</p>
<?php } ?>

<div class="uk-grid-small uk-grid-row-small" uk-grid>
	<div class="uk-width-1-2">
		<?php if(!empty($TemplateData['tool']['viewFile'])) { require_once $TemplateData['tool']['viewFile']; } ?>
	</div>
</div>
