<p><?php echo $I18n->t('tool.gameinfo');?></p>
<ul>
	<li><a target=_blank href="https://www.mobygames.com/">Moby Games</a> All plattforms</li>
	<li><a target=_blank href="https://www.gametdb.com/">Game TDB</a> Console games</li>
	<li><a target=_blank href="https://thegamesdb.net/">The games db</a> All plattforms</li>
	<li><a target=_blank href="https://whatoplay.com">What to play</a> All plattforms</li>
	<li><a target=_blank href="https://www.giantbomb.com/">Giant Bomb</a> All plattforms</li>
</ul>
