<p><b><?php echo $I18n->t('tool.lomitations'); ?></b></p>
<p><?php echo $I18n->t('tool.limitations.override'); ?></p>

<form class="uk-form-horizontal uk-margin-small" method="post" enctype="multipart/form-data">
	<div class="uk-margin">
		<label class="uk-form-label" for="search"><?php echo $I18n->t('tool.googlebooks.searchIsbn'); ?></label>
		<div class="uk-form-controls">
			<input class="uk-input" id="search" type="text" autocomplete="off"
			       name="fdata[search]"
			       value="<?php echo $TemplateData['editEntry']['isbn'] ?? ''; ?>"
			>
		</div>
		<div class="uk-margin">
			<button class="uk-button uk-button-primary" type="submit" name="submitFormSearch">
				<?php echo $I18n->t('tool.googlebooks.search'); ?>
			</button>
		</div>
	</div>
</form>

<?php if($TemplateData['showMatchingForm']) { ?>
<form class="uk-form-horizontal uk-margin-small uk-grid-small"
      method="post" enctype="multipart/form-data" uk-grid>

	<?php
	if(!empty($TemplateData['bookData'])) {
		foreach($TemplateData['bookData'] as $k=>$v) {
	?>
	<input name="fdata[from][<?php echo $k; ?>]" type="hidden" value="<?php echo $v; ?>"  />
	<div class="uk-width-1-2@s uk-overflow-hidden">
		<p>
			<b><?php echo $k; ?></b><br />
			<?php echo nl2br($v); ?>
		</p>
	</div>
	<div class="uk-width-1-2@s">
		<select class="uk-select" name="fdata[into][<?php echo $k; ?>]">
			<option value=""><?php echo $I18n->t('tool.googlebooks.select'); ?></option>
			<?php echo toolMethod_GetTargetSelection($TemplateData['saveToSelection'],$k); ?>
		</select>
	</div>

	<?php
		}
	}
	?>

	<div class="uk-margin">
		<button class="uk-button uk-button-primary" type="submit" name="submitFormSave">
			<?php echo $I18n->t('tool.googlebooks.save'); ?>
		</button>
	</div>

</form>
<?php } ?>
