<p><b><?php echo $I18n->t('tool.limitations'); ?></b></p>
<p><?php echo $I18n->t('tool.limitations.override'); ?></p>
<p>
	<?php echo $I18n->t('tool.imdb.search.hint'); ?>

</p>
<p>
	<?php echo $I18n->t('tool.imdb.posters'); ?> <a href="http://www.impawards.com/" target=_blank>impawards</a
</p>

<form class="maxSizeForm" method="post" enctype="multipart/form-data">
	<div class="field-row-stacked">
		<label for="search">Search</label>
		<input id="search" type="text" autocomplete="off"
			   name="fdata[search]"
			   value="<?php echo $TemplateData['editEntry']['title'] ?? ''; ?>"
		/>
	</div>
	<div class="field-row-stacked">
		<input value="<?php echo $I18n->t('tool.imdb.fetch'); ?>" type="submit" name="submitFormSearch">
	</div>
</form>

<?php if($TemplateData['showMatchingForm']) { ?>
<form class="maxSizeForm" method="post" enctype="multipart/form-data">
	<input type="hidden" name="fdata[imdbId]" value="<?php echo $TemplateData['movieImdbId']; ?>">
	<?php
	if(!empty($TemplateData['movieData'])) {
		foreach($TemplateData['movieData'] as $k=>$v) {
	?>

	<div class="field-row-stacked">
		<p>
			<b><?php echo $k; ?></b><br />
			<?php echo toolMethod_DisplayValues($v); ?>
		</p>
		<select name="fdata[into][<?php echo $k; ?>]">
			<option value=""><?php echo $I18n->t('tool.imdb.select.none'); ?></option>
			<?php echo toolMethod_GetTargetSelection($TemplateData['saveToSelection'],$k); ?>
		</select>
	</div>

	<?php
		}
	}
	?>

	<div class="field-row-stacked">
		<input value="<?php echo $I18n->t('tool.imdb.save'); ?>" type="submit" name="submitFormSave" />
	</div>

</form>
<?php } ?>
