<h3><?php echo $I18n->t('manageuser.usermanagement'); ?></h3>
<h4><?php echo $I18n->t('manageuser.addormodify'); ?></h4>

<form method="post" class="maxSizeForm">
	<div class="field-row-stacked">
		<label for="username"><?php echo $I18n->t('global.username'); ?> *</label>
		<input id="username" type="text" autocomplete="off" name="fdata[username]"
			value="<?php echo $TemplateData['editData']['name'] ?? ''; ?>">
	</div>
	<div class="field-row-stacked">
		<label for="login"><?php echo $I18n->t('global.login'); ?> *</label>
		<input id="login" type="text" autocomplete="off" name="fdata[login]"
			value="<?php echo $TemplateData['editData']['login'] ?? ''; ?>">
	</div>
	<div class="field-row-stacked">
		<label for="password"><?php echo $I18n->t('global.password'); ?> *</label>
		<input id="password" type="password" autocomplete="off" name="fdata[password]">
	</div>
	<div class="field-row-stacked">
		<label for="group"><?php echo $I18n->t('manageuser.input.maingroup'); ?> *</label>
		<select id="group" name="fdata[group]">
			<option value=""><?php echo $I18n->t('global.none'); ?></option>
			<?php foreach($TemplateData['existingGroups'] as $k=>$v) { ?>
			<option value="<?php echo $k; ?>"
				<?php ($TemplateData['editData']['baseGroupId'] ?? '') == $k ? 'selected' : ''; ?>
				><?php echo $v['name']; ?> (<?php echo $v['description']; ?>)</option>
			<?php } ?>
		</select>
	</div>
	<div class="field-row-stacked">
		<label for="groups"><?php echo $I18n->t('manageuser.input.addgroups'); ?></label>
		<select id="groups" name="fdata[groups][]" multiple="multiple"
			size="5">
			<option value=""><?php echo $I18n->t('global.none'); ?></option>
			<?php foreach($TemplateData['existingGroups'] as $k=>$v) { ?>
			<option value="<?php echo $k; ?>"
			<?php if(isset($TemplateData['editData']['groups'][$k])) echo 'selected'; ?>
			><?php echo $v['name']; ?> (<?php echo $v['description']; ?>)</option>
			<?php } ?>
		</select>
	</div>
	<div class="field-row-stacked">
		<input id="active" type="checkbox" name="fdata[active]" value="1"
			<?php if(isset($TemplateData['editData']['active'])) echo "checked"; ?>>
		<label for="active"><?php echo $I18n->t('manageuser.input.canloging'); ?></label>
	</div>
	<?php if(isset($TemplateData['editData']['name']) && (($TemplateData['editData']['protected'] ?? '') == '0' ? true : false)) { ?>
	<div class="field-row-stacked">
		<input id="delete" type="checkbox" name="fdata[doDelete]" value="1">
		<label for="delete"><?php echo $I18n->t('manageuser.input.delete'); ?></label>
		<?php echo $I18n->t('manageuser.input.delete.howto'); ?>
	</div>
	<div class="field-row-stacked">
		<input id="refreshApiToken" type="checkbox" name="fdata[refreshApiToken]" value="1">
		<label for="refreshApiToken"><?php echo $I18n->t('manageuser.input.apitoken'); ?></label>
	</div>
	<div class="field-row-stacked">
		<label>
			<?php echo $I18n->t('manageuser.input.apitoken.current'); ?> <?php echo $TemplateData['editData']['apiToken'] ?? ''; ?><br />
			<?php echo $I18n->t('manageuser.input.apitoken.valid'); ?> <?php echo $TemplateData['editData']['apiTokenValidDate'] ?? ''; ?>
		</label>
	</div>
	<?php } ?>
	<div class="field-row-stacked">
		<input type="submit" name="submitForm" value="<?php echo $I18n->t('global.save'); ?>">
	</div>
</form>

<h4><?php echo $I18n->t('manageuser.availableusers'); ?></h4>
<div class="sunken-panel">
	<table width="100%">
		<thead>
			<tr>
				<th><?php echo $I18n->t('global.login'); ?></th>
				<th><?php echo $I18n->t('manageuser.created'); ?></th>
				<th><?php echo $I18n->t('global.username'); ?></th>
				<th><?php echo $I18n->t('manageuser.groups'); ?></th>
				<th><?php echo $I18n->t('manageuser.status'); ?></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		<?php foreach($TemplateData['existingUsers'] as $k=>$v) { ?>
			<tr>
				<td><?php echo $v['login']; ?></td>
				<td><?php echo $v['created']; ?></td>
				<td><?php echo $v['name']; ?></td>
				<td>
					<ul>
					<?php foreach($v['groups'] as $gk=>$gv) { ?>
						<li style="<?php if($gk == $v['baseGroupId']) echo 'font-weight: bold;'; ?>">
							<?php echo $gv['groupName']; ?>
						</li>
					<?php } ?>
					</ul>
				</td>
				<td><?php echo $v['active']; ?></td>
				<td>
					<a href="index.php?p=manageusers&id=<?php echo $k; ?>">Edit</a>
				</td>
			</tr>
		<?php } ?>
		</tbody>
	</table>
</div>
