<h3 class="uk-h3"><?php echo $I18n->t('managecol.managecol'); ?></h3>

<div class="uk-grid-small uk-grid-row-small" uk-grid>
	<div class="uk-width-1-2">
		<h4 class="uk-h4"><?php echo $I18n->t('managecol.addmodify'); ?></h4>
		<p><span uk-icon="icon: warning"></span><?php echo $I18n->t('managecol.defaultfieldvaluenote'); ?></p>
		<form class="uk-form-horizontal uk-margin-small" method="post">
			<div class="uk-margin">
				<label class="uk-form-label" for="name"><?php echo $I18n->t('managecol.input.name'); ?> *</label>
				<div class="uk-form-controls">
					<input class="uk-input" id="name" type="text" autocomplete="off" name="fdata[name]"
						placeholder="<?php echo $I18n->t('managecol.input.name.placeholder'); ?>"
						value="<?php echo $TemplateData['editData']['name'] ?? ''; ?>">
				</div>
			</div>
			<div class="uk-margin">
				<label class="uk-form-label" for="description"><?php echo $I18n->t('managecol.input.description'); ?></label>
				<div class="uk-form-controls">
					<input class="uk-input" id="description" type="text" autocomplete="off" name="fdata[description]"
						   value="<?php echo $TemplateData['editData']['description'] ?? ''; ?>">
				</div>
			</div>
			<div class="uk-margin">
				<label class="uk-form-label" for="defaultSearchField"><?php echo $I18n->t('managecol.input.defaultsearchfield'); ?></label>
				<div class="uk-form-controls">
					<select class="uk-select" id="defaultSearchField" name="fdata[defaultSearchField]">
						<option value=""><?php echo $I18n->t('global.pleaseselect'); ?></option>
						<?php foreach($TemplateData['simpleSearchFields'] as $k=>$v) { ?>
						<option value="<?php echo $v['identifier']; ?>"
							<?php echo ($TemplateData['editData']['defaultSearchField'] ?? '') == $v['identifier'] ? 'selected' : ''; ?>
						>
						<?php echo $v['displayname']; ?> (<?php echo $v['type']; ?>)</option>
						<?php } ?>
					</select>
					<small><?php echo $I18n->t('managecol.globalsearchhowto'); ?></small><br />
				</div>
			</div>
			<div class="uk-margin">
				<div class="uk-form-label"><?php echo $I18n->t('managecol.input.combinedsearch'); ?></div>
				<div class="uk-form-controls uk-form-controls-text">
					<label>
						<input class="uk-checkbox" type="checkbox" name="fdata[updateSearchData]" value="1">
						<small>
							<span class="" uk-icon="icon: warning"></span><?php echo $I18n->t('managecol.input.combinedsearch.howto'); ?>
						</small>
					</label>
				</div>
			</div>
			<div class="uk-margin">
				<label class="uk-form-label" for="defaultSortField"><?php echo $I18n->t('managecol.input.defaultsort'); ?></label>
				<div class="uk-form-controls">
					<select class="uk-select" id="defaultSortField" name="fdata[defaultSortField]">
						<option value=""><?php echo $I18n->t('global.pleaseselect'); ?></option>
						<?php foreach($TemplateData['simpleSearchFields'] as $k=>$v) { ?>
						<option value="<?php echo $v['identifier']; ?>"
						<?php echo ($TemplateData['editData']['defaultSortField'] ?? '') == $v['identifier'] ? 'selected' : ''; ?>
						><?php echo $v['displayname']; ?> (<?php echo $v['type']; ?>)</option>
						<?php } ?>
					</select>
				</div>
			</div>
			<div class="uk-margin">
				<label class="uk-form-label" for="defaultSortField"><?php echo $I18n->t('managecol.input.defaultsortorder'); ?></label>
				<div class="uk-form-controls">
					<select class="uk-select" id="defaultSortOrder" name="fdata[defaultSortOrder]">
						<option value="ASC" <?php echo ($TemplateData['editData']['defaultSortOrder'] ?? '') == 'ASC' ? 'selected' : '' ?>><?php echo $I18n->t('global.ascending'); ?></option>
						<option value="DESC" <?php echo ($TemplateData['editData']['defaultSortOrder'] ?? '') == 'DESC' ? 'selected' : '' ?>><?php echo $I18n->t('global.descending'); ?></option>
					</select>
				</div>
			</div>
			<div class="uk-margin">
				<label class="uk-form-label" for="advancedSearchTableFields"><?php echo $I18n->t('managecol.input.advancedtablesearchfields'); ?></label>
				<div class="uk-form-controls">
					<select class="uk-select" id="advancedSearchTableFields" name="fdata[advancedSearchTableFields][]" multiple="multiple" size="5">
						<?php foreach($TemplateData['existingFields'] as $k=>$v) { ?>
						<option value="<?php echo $v['id']; ?>"
						<?php if(isset($TemplateData['editData']['advancedSearchTableFields'][$v['id']])) echo 'selected'; ?>
						><?php echo $v['displayname']; ?> (<?php echo $v['type']; ?>)</option>
						<?php } ?>
					</select>
					<small><?php echo $I18n->t('managecol.input.advancedtablesearchfields.howto'); ?></small>
				</div>
			</div>
			<div class="uk-margin">
				<label class="uk-form-label" for="tool"><?php echo $I18n->t('managecol.input.tools'); ?></label>
				<div class="uk-form-controls">
					<select class="uk-select" id="tool" name="fdata[tool][]" multiple="multiple" size="5">
						<option value=""><?php echo $I18n->t('global.none'); ?></option>
						<?php foreach($TemplateData['toolSelection'] as $k=>$v) { ?>
						<option value="<?php echo $k; ?>"
						<?php if(isset($TemplateData['editData']['tool'][$k])) echo 'selected'; ?>
						><?php echo $v['name']; ?> (<?php echo $v['description']; ?>)</option>
						<?php } ?>
					</select>
				</div>
			</div>
			<hr class="uk-margin-medium">
			<div class="uk-margin">
				<label class="uk-form-label" for="owner"><?php echo $I18n->t('global.owner'); ?> *</label>
				<div class="uk-form-controls">
					<select class="uk-select" id="owner" name="fdata[owner]">
						<option value=""><?php echo $I18n->t('global.pleaseselect'); ?></option>
						<?php foreach($TemplateData['ownerSelection'] as $k=>$v) { ?>
						<option value="<?php echo $k; ?>"
						<?php echo ($TemplateData['editData']['owner'] ?? '') == $k ? 'selected' : ''; ?>
						><?php echo $v['login']; ?> (<?php echo $v['name']; ?>)</option>
						<?php } ?>
					</select>
				</div>
			</div>
			<div class="uk-margin">
				<label class="uk-form-label" for="group"><?php echo $I18n->t('global.group'); ?> *</label>
				<div class="uk-form-controls">
					<select class="uk-select" id="group" name="fdata[group]">
						<option value=""><?php echo $I18n->t('global.pleaseselect'); ?></option>
						<?php foreach($TemplateData['groupSelection'] as $k=>$v) { ?>
						<option value="<?php echo $k; ?>"
							<?php echo ($TemplateData['editData']['group'] ?? '') == $k ? 'selected' : ''; ?>
						><?php echo $v['name']; ?> (<?php echo $v['description']; ?>)</option>
						<?php } ?>
					</select>
				</div>
			</div>
			<div class="uk-margin">
				<div class="uk-form-label"><?php echo $I18n->t('global.rights'); ?></div>
				<div class="uk-form-controls uk-form-controls-text">
					<table class="uk-table uk-table-small">
						<tr>
							<th><?php echo $I18n->t('global.user'); ?></th>
							<th><?php echo $I18n->t('global.group'); ?></th>
							<th><?php echo $I18n->t('global.other'); ?></th>
						</tr>
						<tr>
							<td>
								<label>r:<input class="uk-checkbox" type="checkbox" name="fdata[rights][user][read]" value="1"
									<?php echo ($TemplateData['editData']['rights']['user']['read'] ?? '') == 'r' ? "checked" : ""; ?>></label>
								<label>w:<input class="uk-checkbox" type="checkbox" name="fdata[rights][user][write]" value="1"
									<?php echo ($TemplateData['editData']['rights']['user']['write'] ?? '') == 'w' ? "checked" : ""; ?>></label>
								<label>x:<input class="uk-checkbox" type="checkbox" name="fdata[rights][user][delete]" value="1"
									<?php echo ($TemplateData['editData']['rights']['user']['delete'] ?? '') == 'x' ? "checked" : ""; ?>></label>
							</td>
							<td>
								<label>r:<input class="uk-checkbox" type="checkbox" name="fdata[rights][group][read]" value="1"
									<?php echo ($TemplateData['editData']['rights']['group']['read'] ?? '') == 'r' ? "checked" : ""; ?>></label>
								<label>w:<input class="uk-checkbox" type="checkbox" name="fdata[rights][group][write]" value="1"
									<?php echo ($TemplateData['editData']['rights']['group']['write'] ?? '') == 'w' ? "checked" : ""; ?>></label>
								<label>x:<input class="uk-checkbox" type="checkbox" name="fdata[rights][group][delete]" value="1"
									<?php echo ($TemplateData['editData']['rights']['group']['delete'] ?? '') == 'x' ? "checked" : ""; ?>></label>
							</td>
							<td>
								<label>r:<input class="uk-checkbox" type="checkbox" name="fdata[rights][other][read]" value="1"
									<?php echo ($TemplateData['editData']['rights']['other']['read'] ?? '') == 'r' ? "checked" : ""; ?>></label>
								<label>w:<input class="uk-checkbox" type="checkbox" name="fdata[rights][other][write]" value="1"
									<?php echo ($TemplateData['editData']['rights']['other']['write'] ?? '') == 'w' ? "checked" : ""; ?>></label>
								<label>x:<input class="uk-checkbox" type="checkbox" name="fdata[rights][other][delete]" value="1"
									<?php echo ($TemplateData['editData']['rights']['other']['delete'] ?? '') == 'x' ? "checked" : ""; ?>></label>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<?php if(isset($TemplateData['editData']['name'])) { ?>
			<div class="uk-margin">
				<div class="uk-form-label"><?php echo $I18n->t('managecol.input.overwriterights'); ?></div>
				<div class="uk-form-controls uk-form-controls-text">
					<label>
						<input class="uk-checkbox" type="checkbox" name="fdata[doRightsForEntries]" value="1">
						<?php echo $I18n->t('managecol.input.overwriterights.howto'); ?>
					</label>
				</div>
			</div>
			<div class="uk-margin">
				<div class="uk-form-label"><?php echo $I18n->t('managecol.input.delete'); ?> <span uk-icon="warning"></span></div>
				<div class="uk-form-controls uk-form-controls-text">
					<label>
						<input class="uk-checkbox" type="checkbox" name="fdata[doDelete]" value="1">
						<?php echo $I18n->t('managecol.input.delete.howto'); ?>
					</label>
				</div>
			</div>
			<?php } ?>
			<div class="uk-margin">
				<button class="uk-button uk-button-primary" type="submit" name="submitForm">
					<?php echo $I18n->t('global.save'); ?>
				</button>
			</div>
		</form>
	</div>
	<div class="uk-width-1-2">
		<h4 class="uk-h4"><?php echo $I18n->t('managecol.availcol'); ?></h4>
		<table class="uk-table">
			<thead>
			<tr>
				<th><?php echo $I18n->t('global.name'); ?></th>
				<th><?php echo $I18n->t('global.description'); ?></th>
				<th><?php echo $I18n->t('global.ownership'); ?></th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<?php foreach($TemplateData['existingCollections'] as $k=>$v) { ?>
			<tr>
				<td>
					<?php echo $v['name']; ?><br/>
					<small><?php echo $v['created']; ?></small>
				</td>
				<td><?php echo $v['description']; ?></td>
				<td>
					<span uk-icon="user"></span> <?php echo $v['username']; ?><br />
					<span uk-icon="users"></span> <?php echo $v['groupname']; ?><br />
					<span uk-icon="lock"></span> <?php echo $v['rights']; ?>
				</td>
				<td>
					<a href="index.php?p=managecolletions&m=edit&id=<?php echo $k; ?>" uk-icon="pencil" title="<?php echo $I18n->t('global.edit'); ?>"></a>
					<a href="index.php?p=managecollectionfields&id=<?php echo $k; ?>" uk-icon="list" title="<?php echo $I18n->t('global.fields'); ?>"></a>
				</td>
			</tr>
			<?php } ?>
			</tbody>
		</table>
	</div>
</div>
