<?php if(!empty($TemplateData['loadedCollection'])) { ?>

	<h3><?php echo $I18n->t('managetags.managetagsin'); ?> <a href="index.php?p=collections&collection=<?php echo $TemplateData['loadedCollection']['id']; ?>"><?php echo $TemplateData['loadedCollection']['name']; ?></a></h3>
<p><?php echo $I18n->t('managetags.howto'); ?></p>

	<?php if(!empty($TemplateData['tags'])) { ?>
		<form method="post">
			<div class="sunken-panel">
				<table width="100%">
					<thead>
						<tr>
							<th width="100px"><p><?php echo $I18n->t('managetags.tagfield'); ?></p></th>
							<th><?php echo $I18n->t('managetags.use'); ?></th>
							<th><?php echo $I18n->t('managetags.moveorrename'); ?></th>
							<th><?php echo $I18n->t('managetags.rename'); ?></th>
							<th width="100px"><?php echo $I18n->t('managetags.delete'); ?></th>
						</tr>
					</thead>
					<tbody>
				<?php foreach($TemplateData['tags'] as $k=>$v) { ?>
						<tr>
							<td><?php echo $I18n->t($v['displayname']); ?></td>
							<td>
								<select name="fdata[<?php echo $v['id']; ?>][use]">
									<option value="">Please select</option>
									<?php foreach($v['entries'] as $ek=>$ev) { ?>
									<option value="<?php echo $ev; ?>"><?php echo $ev; ?></option>
									<?php } ?>
								</select>
							</td>

							<td>
								<select name="fdata[<?php echo $v['id']; ?>][move]">
									<option value="">Please select</option>
									<?php foreach($v['entries'] as $ek=>$ev) { ?>
									<option value="<?php echo $ev; ?>"><?php echo $ev; ?></option>
									<?php } ?>
								</select>
							</td>
							<td>
								<input type="text" autocomplete="off"
								       name="fdata[<?php echo $v['id']; ?>][rename]">
							</td>
							<td>
								<input type="checkbox" name="fdata[<?php echo $v['id']; ?>][doDelete]" value="1"
									id="<?php echo $v['id']; ?>_doDelete">
								<label for="<?php echo $v['id']; ?>_doDelete">&nbsp;</label>
							</td>
						</tr>
				<?php } ?>
					</tbody>
				</table>
			</div>
			<input type="submit" name="submitForm" value="<?php echo $I18n->t('managetags.save'); ?>" />
		</form>
	<?php } ?>

<?php } else { ?>
<h3><?php echo $I18n->t('global.collection.select.notice'); ?></h3>
<div class="sunken-panel">
	<table width="100%">
		<thead>
		<tr>
			<th width="100px"><?php echo $I18n->t('global.name'); ?></th>
			<th><?php echo $I18n->t('global.description'); ?></th>
		</tr>
		</thead>
		<tbody>
		<?php foreach($TemplateData['collections'] as $k=>$v) { ?>
		<tr>
			<td><a href="index.php?p=managetags&collection=<?php echo $k; ?>"><?php echo $v['name']; ?></a></td>
			<td><?php echo $v['description']; ?></td>
		<tr>
			<?php } ?>
		</tbody>
	</table>
</div>
<?php } ?>
