<h3 class="uk-h3">Group management</h3>
<div class="uk-grid-small uk-grid-row-small uk-grid-row-small" uk-grid>
	<div class="uk-width-1-2">
		<h4 class="uk-h4">Add or modify a group</h4>
		<form class="uk-form-horizontal uk-margin-small" method="post">
			<div class="uk-margin">
				<label class="uk-form-label" for="name">Name *</label>
				<div class="uk-form-controls">
					<input class="uk-input" id="name" type="text" autocomplete="off" name="fdata[name]"
					       value="<?php echo $TemplateData['editData']['name'] ?? ''; ?>">
				</div>
			</div>
			<div class="uk-margin">
				<label class="uk-form-label" for="description">Description *</label>
				<div class="uk-form-controls">
					<input class="uk-input" id="description" type="text" autocomplete="off" name="fdata[description]"
					       value="<?php echo $TemplateData['editData']['description'] ?? ''; ?>">
				</div>
			</div>

			<?php if(isset($TemplateData['editData']['name']) && Summoner::ifsetValue($TemplateData['editData'], 'protected', '0')) { ?>
			<div class="uk-margin">
				<div class="uk-form-label">Delete <span uk-icon="warning"></span></div>
				<div class="uk-form-controls uk-form-controls-text">
					<label>
						<input class="uk-checkbox" type="checkbox" name="fdata[doDelete]" value="1">
						Warning: Content owned by this group will not be deleted and thus only manageable by admin!<br />
						Right now don't do this. Only if you are sure there is no usage of this group.
					</label>
				</div>
			</div>
			<?php } ?>
			<div class="uk-margin">
				<button class="uk-button uk-button-primary" type="submit" name="submitForm">
					Save
				</button>
			</div>
		</form>
	</div>
	<div class="uk-width-1-2">
		<h4 class="uk-h4">Available groups</h4>
		<table class="uk-table">
			<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<?php foreach($TemplateData['existingGroups'] as $k=>$v) { ?>
			<tr>
				<td>
					<?php echo $v['name']; ?><br/>
					<small><?php echo $v['created']; ?></small>
				</td>
				<td><?php echo $v['description']; ?></td>
				<td>
					<a href="index.php?p=managegroups&m=edit&id=<?php echo $k; ?>" uk-icon="pencil"></a>
				</td>
			</tr>
			<?php } ?>
			</tbody>
		</table>
	</div>
</div>
