<?php if(!empty($TemplateData['search'])) { ?>
<div class="window">
	<div class="title-bar">
		<div class="title-bar-text"><?php echo $I18n->t('global.search'); ?></div>
		<div class="title-bar-controls">
			<button aria-label="Close" id="searchNoteWindowCloseButton"></button>
		</div>
	</div>
	<div class="window-body">
		<p><?php echo $I18n->t('global.search.resultfor', $TemplateData['search'] ?? ''); ?></p>
	</div>
</div>
<script>
	const searchNoteWindowCloseButton = document.getElementById('searchNoteWindowCloseButton');
	searchNoteWindowCloseButton.addEventListener('click', () => {
		window.location.href="index.php?p=tags&collection=<?php echo $TemplateData['loadedCollection']['id']; ?>";
	});
</script>
<?php } ?>

<?php if(!empty($TemplateData['tags'])) { ?>
	<h3><?php echo $I18n->t('tags.headline.tagsfor'); ?> <a href="index.php?p=collections&collection=<?php echo $TemplateData['loadedCollection']['id'] ?? ''; ?>"><?php echo $TemplateData['loadedCollection']['name'] ?? ''; ?></a></h3>

	<?php foreach($TemplateData['tags'] as $k=>$v) { ?>
	<h4><?php echo $I18n->t($v['displayname']); ?></h4>
	<p>
		<?php foreach($v['entries'] as $ek=>$ev) { ?>
		<a href="index.php?p=collections&collection=<?php echo $TemplateData['loadedCollection']['id']; ?>&fid=<?php echo $v['identifier']; ?>&fv=<?php echo urlencode($ev); ?>"><?php echo $ev; ?></a>,
		<?php } ?>
	</p>
	<?php } ?>

<?php } elseif(!empty($TemplateData['collections'])) { ?>
	<h3><?php echo $I18n->t('global.collection.select.notice'); ?></h3>
	<div class="sunken-panel">
		<table width="100%">
			<thead>
			<tr>
				<th width="100px"><?php echo $I18n->t('global.name'); ?></th>
				<th><?php echo $I18n->t('global.description'); ?></th>
			</tr>
			</thead>
			<tbody>
			<?php foreach($TemplateData['collections'] as $k=>$v) { ?>
			<tr>
				<td><a href="index.php?p=tags&collection=<?php echo $k; ?>"><?php echo $v['name']; ?></a></td>
				<td><?php echo $v['description']; ?></td>
			<tr>
				<?php } ?>
			</tbody>
		</table>
	</div>
<?php } ?>
