<div class="uk-grid-small uk-grid-row-small uk-grid-row-small" uk-grid>
    <div class="uk-width-1-2@l">
    <?php if(!empty($TemplateData['tags'])) { ?>
        <h3 class="uk-h3">Selectable tags for: <?php echo Summoner::ifset($TemplateData['loadedCollection'], 'name'); ?></h3>

        <?php if(!empty($TemplateData['search'])) { ?>
        <div uk-alert id="searchNotice">
            <button class="uk-alert-close" type="button" uk-close></button>
            <p>Display result for: <b><?php echo $TemplateData['search']; ?></b></p>
        </div>
        <script type="text/javascript">
            UIkit.util.on('#searchNotice', 'hide', function () {
                window.location.href="index.php?p=tags&collection=<?php echo $TemplateData['loadedCollection']['id']; ?>";
            });
        </script>
        <?php } ?>

        <?php foreach($TemplateData['tags'] as $k=>$v) { ?>
        <h4 class="uk-heading-line"><span><a uk-toggle="target: #toggle-<?php echo $k; ?>"><?php echo $v['displayname']; ?></a></span></h4>
        <div id="toggle-<?php echo $k; ?>">
            <?php foreach($v['entries'] as $ek=>$ev) { ?>
            <a href="index.php?p=collections&collection=<?php echo $TemplateData['loadedCollection']['id']; ?>&fid=<?php echo $k; ?>&fv=<?php echo urlencode($ev); ?>"><?php echo $ev; ?></a>,
            <?php } ?>
        </div>
        <?php } ?>

    <?php } elseif(!empty($TemplateData['collections'])) { ?>
        <h3 class="uk-h3">Please select a collection first</h3>
        <dl class="uk-description-list uk-description-list-divider">
            <?php foreach($TemplateData['collections'] as $k=>$v) { ?>
            <dt><a href="index.php?p=tags&collection=<?php echo $k; ?>"><?php echo $v['name']; ?></a></dt>
            <dd><?php echo $v['description']; ?></dd>
            <?php } ?>
        </dl>
    <?php } ?>
    </div>
</div>
