<h3><?php echo $I18n->t('managegroups.groupmanagement'); ?></h3>
<h4><?php echo $I18n->t('managegroups.addormodify'); ?></h4>

<form class="maxSizeForm" method="post">
	<div class="field-row-stacked">
		<label for="name"><?php echo $I18n->t('managegroups.input.name'); ?> *</label>
		<input id="name" type="text" autocomplete="off" name="fdata[name]"
			value="<?php echo $TemplateData['editData']['name'] ?? ''; ?>">
	</div>
	<div class="field-row-stacked">
		<label for="description"><?php echo $I18n->t('managegroups.input.description'); ?> *</label>
		<input id="description" type="text" autocomplete="off" name="fdata[description]"
		       value="<?php echo $TemplateData['editData']['description'] ?? ''; ?>">
	</div>

	<?php if(isset($TemplateData['editData']['name']) && (($TemplateData['editData']['protected'] ?? '') == '0' ? true : false)) { ?>
	<div class="field-row-stacked">
		<p>
			<?php echo $I18n->t('managegroups.input.delete.howto'); ?>
		</p>
	</div>
	<div class="field-row-stacked">
		<input id="doDelete" type="checkbox" name="fdata[doDelete]" value="1">
		<label for="doDelete"><?php echo $I18n->t('managegroups.input.delete'); ?></label>
	</div>
	<?php } ?>
	<div class="field-row-stacked">
		<input type="submit" name="submitForm" value="<?php echo $I18n->t('managegroups.input.save'); ?>" />
	</div>
</form>

<h4><?php echo $I18n->t('managegroups.availablegroups'); ?></h4>
<div class="sunken-panel">
	<table width="100%">
		<thead>
			<tr>
				<th width="200px"><?php echo $I18n->t('global.name'); ?></th>
				<th><?php echo $I18n->t('global.created'); ?></th>
				<th><?php echo $I18n->t('global.description'); ?></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<?php foreach($TemplateData['existingGroups'] as $k=>$v) { ?>
			<tr>
				<td><?php echo $v['name']; ?></td>
				<td><?php echo $v['created']; ?></td>
				<td><?php echo $v['description']; ?></td>
				<td>
					<a href="index.php?p=managegroups&m=edit&id=<?php echo $k; ?>"><?php echo $I18n->t('global.edit'); ?></a>
				</td>
			</tr>
			<?php } ?>
		</tbody>
	</table>
</div>
