<?php if(!empty($TemplateData['pagination']) && $TemplateData['pagination']['pages'] > 1) { ?>
	<?php require Summoner::themefile('collections/collections_pagination.html', UI_THEME); ?>

	<?php if(!isset($TemplateData['pagination']['hideSort'])) { ?>
	<form method="get" action="index.php">
		<?php
			foreach($TemplateData['pagination']['currentGetParameters'] as $ck=>$cp) {
				echo '<input type="hidden" name="'.$ck.'" value="'.$cp.'" />';
			}
		?>
		<select name="s">
			<?php if(!empty($TemplateData['defaultSortField'])) { ?>
			<option value="<?php echo $TemplateData['defaultSortField']; ?>">Default</option>
			<?php } else { ?>
			<option value="">Latest</option>
			<?php } ?>

			<?php
				if(!empty($TemplateData['simpleSearchFields'])) {
					foreach($TemplateData['simpleSearchFields'] as $k=>$v) {
			?>
			<option value="<?php echo $k; ?>" <?php if(isset($v['selected'])) echo 'selected' ?> ><?php echo $v['displayname']; ?></option>
			<?php
					}
				}
			?>
		</select>
		<select name="sd">
			<option value="ASC">ascending</option>
			<option value="DESC">descending</option>
		</select>
		<input type="submit" value="Sort" />
	</form>
	<?php } ?>

<?php } ?>

<?php if(!empty($TemplateData['search'])) { ?>
<div class="window">
	<div class="title-bar">
		<div class="title-bar-text">Search</div>
		<div class="title-bar-controls">
			<button aria-label="Close" id="searchNoteWindowCloseButton"></button>
		</div>
	</div>
	<div class="window-body">
		<p>Display result for: <b><?php echo $TemplateData['search']; ?></b></p>
	</div>
</div>
<script>
	const searchNoteWindowCloseButton = document.getElementById('searchNoteWindowCloseButton');
	searchNoteWindowCloseButton.addEventListener('click', () => {
		window.location.href="index.php?p=collections&collection=<?php echo $TemplateData['loadedCollection']['id']; ?>";
	});
</script>
<?php } ?>

<?php if(!empty($TemplateData['entries'])) { ?>
<h3><?php echo Summoner::ifset($TemplateData['loadedCollection'], 'name'); ?></h3>
<div class="sunken-panel">
	<table width="100%">
		<thead>
		<tr>
			<th width="60px">Image</th>
			<th>Title</th>
			<th>Description</th>
			<th width="60px">View</th>
		</tr>
		</thead>
		<tbody>
		<?php foreach($TemplateData['entries']['results'] as $entryK=>$entry) { ?>
			<tr>
				<td>
					<?php if(Summoner::ifset($entry['fields'], 'coverimage')) { ?>
					<a href="<?php echo $TemplateData['entryLinkPrefix']; ?>&id=<?php echo $entryK; ?>">
						<img src="<?php echo $TemplateData['storagePath'].'/'.$entryK.'/'.$entry['fields']['coverimage']['value']; ?>"
						     alt="<?php echo $entry['fields']['coverimage']['displayname']; ?>"
						     width="50px">
					</a>
					<?php } ?>
				</td>
				<td>
					<?php if(Summoner::ifset($entry['fields'], 'title')) {
								echo $entry['fields']['title']['value'];
							} ?>
				</td>
				<td>
					<?php if(Summoner::ifset($entry['fields'], array('description','value'))) {
								echo $entry['fields']['description']['value'];
							} ?>
				</td>
				<td>
					<a href="<?php echo $TemplateData['entryLinkPrefix']; ?>&id=<?php echo $entryK; ?>">View</a>
				</td>
			</tr>
		<?php } ?>
		</tbody>
		</tbody>
	</table>
</div>
<?php } elseif(!empty($TemplateData['collections'])) { ?>
<h3>Please select a collection first</h3>
<div class="sunken-panel">
	<table width="100%">
		<thead>
		<tr>
			<th width="100px">Name</th>
			<th>Description</th>
		</tr>
		</thead>
		<tbody>
		<?php foreach($TemplateData['collections'] as $k=>$v) { ?>
		<tr>
			<td><a href="index.php?p=collections&collection=<?php echo $k; ?>"><?php echo $v['name']; ?></a></td>
			<td><?php echo $v['description']; ?></td>
		<tr>
		<?php } ?>
		</tbody>
	</table>
</div>
<?php } ?>

<?php if(!empty($TemplateData['pagination']) && $TemplateData['pagination']['pages'] > 1) { ?>
<?php require Summoner::themefile('collections/collections_pagination.html', UI_THEME); ?>
<?php } ?>
