<div class="uk-margin">
	<label class="uk-form-label" for="<?php echo $field['identifier']; ?>"><?php echo $field['displayname']; ?></label>
	<div class="uk-form-controls">
		<input class="uk-input" id="<?php echo $field['identifier']; ?>" type="number"
		       autocomplete="off" maxlength="10"
		       name="fdata[<?php echo $field['identifier']; ?>]"
		       value="<?php echo $TemplateData['editData'][$field['identifier']] ?? ''; ?>"
		>
		<?php if(isset($field['bulkedit'])) { ?>
		<select class="uk-select" name="fdata[additionalEditOption][<?php echo $field['identifier']; ?>]">
			<option value="">Select bulk edit option</option>
			<option value="replace">Replace</option>
			<option value="empty">Clear</option>
		</select>
		<?php } ?>
	</div>
</div>
