<div class="uk-margin">
	<label class="uk-form-label" for="<?php echo $field['identifier']; ?>"><?php echo $field['displayname']; ?></label>
	<div class="uk-form-controls">
		<textarea class="uk-textarea" autocomplete="off"
			id="<?php echo $field['identifier']; ?>"
	        rows="10"
			name="fdata[<?php echo $field['identifier']; ?>]"><?php echo $TemplateData['editData'][$field['identifier']] ?? ''; ?></textarea>
		<?php if(isset($field['bulkedit'])) { ?>
		<select class="uk-select" name="fdata[additionalEditOption][<?php echo $field['identifier']; ?>]">
			<option value=""><?php echo $I18n->t('manageentry.select.bulkedit'); ?></option>
			<option value="add"><?php echo $I18n->t('manageentry.select.bulkedit.add'); ?></option>
			<option value="replace"><?php echo $I18n->t('manageentry.select.bulkedit.replace'); ?></option>
			<option value="empty"><?php echo $I18n->t('manageentry.select.bulkedit.clear'); ?></option>
		</select>
		<?php } ?>
	</div>
</div>
