<div class="uk-margin">
	<label class="uk-form-label" for="<?php echo $field['identifier']; ?>"><?php echo $field['displayname']; ?></label>
	<div class="uk-form-controls">
		<input class="uk-input" id="<?php echo $field['identifier']; ?>" type="text" autocomplete="off"
		   name="fdata[<?php echo $field['identifier']; ?>]"
		   value="<?php echo $TemplateData['editData'][$field['identifier']] ?? ''; ?>"
	       maxlength="128"
		>
		<small id="<?php echo $field['identifier']; ?>_counter" class="uk-float-right"><?php echo 128-strlen($TemplateData['editData'][$field['identifier']] ?? ''); ?></small>
		<?php if(isset($field['bulkedit'])) { ?>
		<select class="uk-select" name="fdata[additionalEditOption][<?php echo $field['identifier']; ?>]">
			<option value=""><?php echo $I18n->t('manageentry.select.bulkedit'); ?></option>
			<option value="add"><?php echo $I18n->t('manageentry.select.bulkedit.add'); ?></option>
			<option value="replace"><?php echo $I18n->t('manageentry.select.bulkedit.replace'); ?></option>
			<option value="empty"><?php echo $I18n->t('manageentry.select.bulkedit.clear'); ?></option>
		</select>
		<?php } ?>
	</div>
</div>

<script type="text/javascript">
	{
	const inputElement = document.getElementById("<?php echo $field['identifier']; ?>");
	const inputCounter = document.getElementById("<?php echo $field['identifier']; ?>_counter");

	inputElement.addEventListener("input", event => {
		const target = event.currentTarget;
		const maxLength = target.getAttribute("maxlength");
		const currentLength = target.value.length;

		inputCounter.innerHTML = `${maxLength - currentLength}`;
	});
	}
</script>
