<div class="uk-margin">
    <label class="uk-form-label" for="<?php echo $field['identifier']; ?>"><?php echo $field['displayname']; ?></label>
    <div class="uk-form-controls">
        <input type="file" id="<?php echo $field['identifier']; ?>" multiple="false"
           name="fdata[<?php echo $field['identifier']; ?>]"
        >
        <?php if(Summoner::ifset($TemplateData['editData'], $field['identifier'])) { ?>
        <div uk-lightbox>
            <?php echo '<a href="'.$TemplateData['storagePath'].'/'.Summoner::ifset($TemplateData['editData'], $field['identifier']).'">'.Summoner::ifset($TemplateData['editData'], $field['identifier']).'</a>'; ?>
            <input type="checkbox" value="<?php echo Summoner::ifset($TemplateData['editData'], $field['identifier']); ?>"
                   name="fdata[<?php echo $field['identifier']; ?>_delete]"
                   title="Delete"
            />
        </div>
        <?php } ?>
    </div>
</div>
