<div class="uk-margin">
	<label class="uk-form-label" for="<?php echo $field['identifier']; ?>"><?php echo $field['displayname']; ?></label>
	<div class="uk-form-controls">
		<input type="file" id="<?php echo $field['identifier']; ?>" multiple="true"
			name="fdata[<?php echo $field['identifier']; ?>][]"
		>
		<div uk-lightbox>
		<?php
		if(isset($TemplateData['editData']) && !empty($TemplateData['editData'][$field['identifier']])) {
			foreach($TemplateData['editData'][$field['identifier']] as $e) {
		?>
			<a target="_blank" href="<?php echo $TemplateData['storagePath'].'/'.$e; ?>"><?php echo $e; ?></a>
			<input type="checkbox" value="<?php echo $e; ?>"
					name="fdata[<?php echo $field['identifier']; ?>_delete][]"
					title="Delete"
			/> Delete
			<br>
		<?php
			}
		}
		?>
		</div>
	</div>
</div>
