<?php
if(!empty($TemplateData['editFields'])) {
	$_entry = '';
	if(!empty($TemplateData['editData'])) {
		$_entry = $TemplateData['editData']['id'];
?>
		<h3 class="uk-h3"><?php echo $I18n->t('manageentry.updateentry'); ?> <a href="index.php?p=collections&collection=<?php echo $TemplateData['loadedCollection']['id']; ?>"><?php echo $TemplateData['loadedCollection']['name']; ?></a></h3>
		<p>
			<span uk-icon="arrow-left"></span>
			<a href="index.php?p=entry&collection=<?php echo $TemplateData['loadedCollection']['id']; ?>&id=<?php echo $TemplateData['editData']['id']; ?>"><?php echo $I18n->t('manageentry.viewentry'); ?></a>
		</p>
<?php if(!empty($TemplateData['possibleDuplicates'])) { ?>
<?php echo $I18n->t('manageentry.possibleduplicate'); ?>
<ul>
	<?php
	foreach($TemplateData['possibleDuplicates'] as $key=>$entry) {
		echo '<li><a href="index.php?p=entry&collection='.$TemplateData['loadedCollection']['id'].'&id='.$entry['id'].'" target="_blank">'.$entry['title'].'</a></li>';
	}
	?>
</ul>
<?php } ?>
<?php } else { ?>
		<h3 class="uk-h3"><?php echo $I18n->t('manageentry.addentry'); ?> <a href="index.php?p=collections&collection=<?php echo $TemplateData['loadedCollection']['id']; ?>"><?php echo $TemplateData['loadedCollection']['name']; ?></a></h3>
<?php } ?>
<div class="uk-grid-small uk-grid-row-small" uk-grid>
	<div class="uk-width-2-3">
		<form class="uk-form-horizontal uk-margin-small" method="post" enctype="multipart/form-data">

			<?php
			foreach($TemplateData['editFields'] as $field) {
				$_editFieldView = Summoner::themefile('manageentry/field-'.$field['type'].'.html', UI_THEME);
				if(file_exists($_editFieldView)) {
					require $_editFieldView;
				}
				else {
					require $TemplateData['_editFieldViewDefault'];
				}
			}

			if(!empty($TemplateData['editData']['_isOwner'])) {
			?>

			<hr class="uk-margin-medium">
			<div class="uk-margin">
				<div class="uk-form-label"><?php echo $I18n->t('global.rights'); ?></div>
				<div class="uk-form-controls uk-form-controls-text">
					<table class="uk-table uk-table-small">
						<tr>
							<th><?php echo $I18n->t('global.user'); ?></th>
							<th><?php echo $I18n->t('global.group'); ?></th>
							<th><?php echo $I18n->t('global.other'); ?></th>
						</tr>
						<tr>
							<td>
								<label>r:<input class="uk-checkbox" type="checkbox" name="fdata[rights][user][read]" value="1"
									<?php echo ($TemplateData['editData']['rights']['user']['read'] ?? '') == 'r' ? "checked" : ""; ?>></label>
								<label>w:<input class="uk-checkbox" type="checkbox" name="fdata[rights][user][write]" value="1"
									<?php echo ($TemplateData['editData']['rights']['user']['write'] ?? '') == 'w' ? "checked" : ""; ?>></label>
								<label>x:<input class="uk-checkbox" type="checkbox" name="fdata[rights][user][delete]" value="1"
									<?php echo ($TemplateData['editData']['rights']['user']['delete'] ?? '') == 'x' ? "checked" : ""; ?>></label>
							</td>
							<td>
								<label>r:<input class="uk-checkbox" type="checkbox" name="fdata[rights][group][read]" value="1"
									<?php echo ($TemplateData['editData']['rights']['group']['read'] ?? '') == 'r' ? "checked" : ""; ?>></label>
								<label>w:<input class="uk-checkbox" type="checkbox" name="fdata[rights][group][write]" value="1"
									<?php echo ($TemplateData['editData']['rights']['group']['write'] ?? '') == 'w' ? "checked" : ""; ?>></label>
								<label>x:<input class="uk-checkbox" type="checkbox" name="fdata[rights][group][delete]" value="1"
									<?php echo ($TemplateData['editData']['rights']['group']['delete'] ?? '') == 'x' ? "checked" : ""; ?>></label>
							</td>
							<td>
								<label>r:<input class="uk-checkbox" type="checkbox" name="fdata[rights][other][read]" value="1"
									<?php echo ($TemplateData['editData']['rights']['other']['read'] ?? '') == 'r' ? "checked" : ""; ?>></label>
								<label>w:<input class="uk-checkbox" type="checkbox" name="fdata[rights][other][write]" value="1"
									<?php echo ($TemplateData['editData']['rights']['other']['write'] ?? '') == 'w' ? "checked" : ""; ?>></label>
								<label>x:<input class="uk-checkbox" type="checkbox" name="fdata[rights][other][delete]" value="1"
									<?php echo ($TemplateData['editData']['rights']['other']['delete'] ?? '') == 'x' ? "checked" : ""; ?>></label>
							</td>
						</tr>
					</table>
				</div>
			</div>

			<?php } ?>

			<?php if(!empty($TemplateData['editData']['_canDelete'])) { ?>

			<hr class="uk-margin-medium">
			<div class="uk-margin">
				<div class="uk-form-label"><?php echo $I18n->t('global.delete'); ?> <span uk-icon="warning"></span></div>
				<div class="uk-form-controls uk-form-controls-text">
					<label>
						<input class="uk-checkbox" type="checkbox" name="fdata[doDelete]" value="1">
					</label>
				</div>
			</div>

			<?php } ?>

			<div class="uk-margin">
				<button class="uk-button uk-button-primary" type="submit" name="submitForm">
					<?php echo $I18n->t('global.save'); ?>
				</button>
			</div>
		</form>
	</div>
	<div class="uk-width-1-3">
		<?php if(!empty($TemplateData['availableTools'])) { ?>
		<h4><?php echo $I18n->t('manageentry.availabletools'); ?></h4>
		<ul>
		<?php foreach($TemplateData['availableTools'] as $tool) { ?>
			<li><a href="index.php?p=tool&t=<?php echo $tool['action']; ?>&collection=<?php echo $TemplateData['loadedCollection']['id']; ?>&id=<?php echo $_entry; ?>"
				   target="<?php echo $tool['target']; ?>"><?php echo $tool['name']; ?> (<?php echo $tool['description']; ?>)</a></li>
		<?php } ?>
		</ul>
		<?php } ?>
	</div>
</div>
<script type="text/javascript" src="view/default/ui/js/suggest-tag.js"></script>
<?php } else { ?>
<h3 class="uk-h3"><?php echo $I18n->t('manageentry.addentrycollection'); ?></h3>
<div class="uk-grid-small uk-grid-row-small uk-grid-row-small" uk-grid>
	<div class="uk-width-1-2">
		<h4 class="uk-h4"><?php echo $I18n->t('global.collection.select.notice'); ?></h4>
		<dl class="uk-description-list uk-description-list-divider">
			<?php foreach($TemplateData['existingCollections'] as $k=>$v) { ?>
			<dt><a href="index.php?p=manageentry&collection=<?php echo $k; ?>"><?php echo $v['name']; ?></a></dt>
			<dd><?php echo $v['description']; ?></dd>
			<?php } ?>
		</dl>
	</div>
</div>
<?php } ?>
